<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>クエリ情報</title>
    </head>
    <body>
        <h1>クエリ情報</h1>
        <div>クエリを<a href="/?next=section12&amp;user=1234">ここ</a>に配置</div>
    </body>
</html>