<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>サンプル</title>
    </head>
    <body>
        <h1>POST処理</h1>
        <form method="POST" action="/">
            <div>
                <input type="text" name="f_txt" id="f_txt" />
                <input type="checkbox" name="f_ckbx" id="f_ckbx" />
            </div>
            <div>
                <input type="submit" />
            </div>
        </form>
    </body>
</html>